<h4 <% if hidden %> style="display: none;"<% end %>>Merge Articles</h4>
<input id="merge_with" type="text" name="merge_with" class='large' />
<%= link_to _("Merge"), merge_articles_path(1, 4), :class => 'btn info' %>
