<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>


<%= form_tag :action=>"merge",
             #:controller => 'articles',
             :id => @article.id \
             do %>

    <div id ='attachment' <%= "style='display: none;'" if !current_user.admin? %> >
      <%= if current_user.admin? then render 'merge', { :hidden => !current_user.admin? } end -%>
    </div>

<% end %>

